{
  "presets": [
    ["@babel/preset-env",{
      "targets": {"node": "current"}
    }]
  ],
  "plugins": [
    ["module-resolver",{
      "root": ["./"],
      "alias": {
        "@": "./"
      }
    }]
  ],
  "ignore": [
    "node_modules"
  ]
}